body {
  background-image: url('https://free4kwallpapers.com/uploads/originals/2015/09/19/portfolio-background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  font-family: 'Roboto';
}

p {
  color: white;
  font-size: 30px;
}

a {
  color: yellow;
  font-size: 25px;
  margin-left: 10%;
}

.navbar {
  display: inline;
 
}


div.inline{
  display: inline;
}
#imageinwork{
  width:40%;
  height: 300px; 
  margin:0 5% 0 6%;
  opacity: 0.7;
}
#imageinwork:hover{
  width:40%;
  height: 300px; 
  margin:0 5% 0 6%;
  opacity: 1;
}
/*
font awsome style
*/
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa {
  padding: 20px;
  font-size: 20px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}
#image{
  border-radius: 50%;
  padding-top: 10px;
  width: 130px;
  height: 130px;
}